// Colors
$primary-blue: #002CFB;
$secondary-blue: #091336;
$light-blue: #DEE4FF;
$success-green: #28A879;
$warning-yellow: #FFD500;
$error-red: #EA1A4F;
$gray-1: #899CB1;
$gray-2: #5E7793;
$gray-3: #ADBFDF;
$white: #FFFFFF;
$background: #F1F4F9;

// Typography
$font-family: 'SF Pro Display', sans-serif;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// Border radius
$border-radius: 4px;

// Shadows
$box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.04);